# Embaixadores Analytics BB

**Trilha Engenharia**

**Aula 3 - Python para ETL - Parte 2: Biblioteca Pandas**

Conceitos teóricos por: Chat GPT (<https://chat.openai.com/>)

Exercícios práticos por: Amanda Ramos Coiado

20/06/2023

# Biblioteca Pandas

A biblioteca pandas é uma poderosa biblioteca em Python utilizada para manipulação e análise de dados de forma eficiente. Ela fornece estruturas de dados flexíveis e ferramentas para lidar com conjuntos de dados de forma organizada, permitindo a limpeza, transformação, exploração e visualização dos dados.

A principal estrutura de dados oferecida pelo pandas é chamada de **DataFrame**. Um DataFrame é uma tabela bidimensional, semelhante a uma planilha do Excel, com colunas e linhas rotuladas. Essa estrutura permite trabalhar com dados estruturados e heterogêneos, onde cada coluna pode conter diferentes tipos de dados, como números, strings, datas, entre outros.

A biblioteca pandas possui uma ampla gama de recursos e funções, incluindo:

1) **Carregamento e leitura de dados:** O pandas suporta a leitura de dados de várias fontes, como arquivos CSV, Excel, bancos de dados SQL, JSON, entre outros.

2) **Limpeza e transformação de dados:** O pandas oferece funções para lidar com dados ausentes (valores nulos), duplicatas, filtragem, ordenação, renomeação de colunas, alteração de tipos de dados, entre outras operações de preparação de dados.

3) **Indexação e seleção de dados:** É possível acessar e manipular dados em um DataFrame por meio de indexação e seleção de colunas e linhas, filtragem condicional, seleção baseada em rótulos ou índices, entre outros métodos.

4) **Computação e cálculos estatísticos:** O pandas permite realizar cálculos estatísticos básicos, como média, mediana, desvio padrão, bem como operações matemáticas em colunas ou linhas do DataFrame. Além disso, o pandas suporta operações vetorizadas rápidas, o que o torna eficiente no processamento de grandes conjuntos de dados.

5) **Agrupamento e agregação de dados:** É possível agrupar os dados com base em categorias específicas e aplicar funções de agregação, como soma, média, contagem, entre outras, em grupos de dados específicos.

6) **Visualização de dados:** O pandas possui recursos integrados para plotar gráficos e visualizações de dados, usando a biblioteca Matplotlib.

Em resumo, a biblioteca pandas é amplamente utilizada por cientistas de dados, analistas e programadores para lidar com tarefas de manipulação e análise de dados de maneira eficiente. Ela simplifica o processo de preparação e exploração de dados, permitindo extrair informações valiosas e tomar decisões baseadas em dados de forma mais fácil e rápida.

## Exemplos de Funções:

- **pd.DataFrame():** Cria um DataFrame vazio ou a partir de um objeto como uma lista, dicionário ou ndarray.
- **pd.read_csv():** Carrega dados de um arquivo CSV para um DataFrame.
- **pd.concat():** Concatena (une) DataFrames ao longo de um eixo específico.
- **pd.merge():** Realiza uma junção (merge) de DataFrames com base em colunas em comum.
- **pd.groupby():** Agrupa os dados com base em uma ou mais colunas.
- **pd.plot():** Gera visualizações de dados usando a biblioteca Matplotlib.

## Exemplos de Métodos do Pandas (aplicados a um DataFrame):

Consultas ao Dataframe:

- **head():** Retorna as primeiras linhas do DataFrame.
- **tail():** Retorna as últimas linhas do DataFrame.
- **info():** Apresenta informações sobre o DataFrame, como nome das colunas, tipos de dados, contagem de valores não nulos, etc.
- **describe():** Fornece estatísticas descritivas para as colunas numéricas do DataFrame, como contagem, média, desvio padrão, mínimo, máximo, etc.
- **shape:** Retorna o número de linhas e colunas do DataFrame.
- **columns:** Retorna uma lista com os nomes das colunas do DataFrame.
- **index:** Retorna os rótulos de índice do DataFrame.

Alterações na estrutura do Dataframe:

- **set_index():** Define uma coluna existente como o índice do DataFrame.
- **reset_index():** Redefine o índice do DataFrame, atribuindo um novo índice numérico.
- **drop():** Remove linhas ou colunas específicas do DataFrame.
- **append():** Anexa linhas de outro DataFrame ou série ao final do DataFrame atual.
- **rename():** Renomeia rótulos de colunas ou índices de um DataFrame.
- **groupby():** Agrupa o DataFrame com base em uma ou mais colunas.

Consulta e namipulação de linhas:

- **loc[]:** Acessa elementos do DataFrame com base em rótulos de índice.
- **iloc[]:** Acessa elementos do DataFrame com base em posições inteiras.
- **dropna():** Remove linhas ou colunas que contenham valores ausentes.
- **fillna():** Preenche valores ausentes com um valor específico.
- **sort_values():** Ordena o DataFrame com base em uma ou mais colunas.
- **value_counts():** Conta o número de ocorrências de cada valor em uma coluna do DataFrame.
- **unique():** Retorna os valores únicos em uma coluna do DataFrame.
- **drop_duplicates():** Remove linhas duplicadas do DataFrame.
- **isin():** Verifica se os elementos de uma coluna estão presentes em uma lista ou em outra coluna, retornando um booleano.

Cálculos:

- **max():** Retorna o valor máximo em uma coluna do DataFrame.
- **min():** Retorna o valor mínimo em uma coluna do DataFrame.
- **sum():** Calcula a soma dos valores em uma coluna do DataFrame.
- **mean():** Calcula a média dos valores em uma coluna do DataFrame.
- **count():** Conta o número de valores não nulos em cada coluna do DataFrame.

Outras Funções úteis:

- **tolist():** Converte um objeto Series ou DataFrame em uma lista.
- **to_csv():** Salva o DataFrame em um arquivo CSV.
- **copy():** Cria uma cópia do DataFrame.

Essas são apenas algumas das funções e métodos mais comuns do pandas. A biblioteca oferece uma ampla gama de funcionalidades para manipulação, análise e visualização de dados, permitindo a realização de tarefas complexas de forma eficiente. Para explorar todas as funcionalidades do pandas, consulte a documentação oficial em https://pandas.pydata.org/.

In [1]:
# importar biblioteca pandas
import pandas as pd
# importar biblioteca para ignorar os avisos do Python
import warnings
warnings.filterwarnings('ignore')

In [2]:
# criar uma lista com os nomes das colunas
# 'matricula', 'nome', 'prefixo', 'dependencia'
colunas = ['matricula', 'nome', 'prefixo', 'dependencia']

In [3]:
# criar um dataframe chamado df
df = pd.DataFrame(columns=colunas)
# visualizar o dataframe
df

Empty DataFrame
Columns: [matricula, nome, prefixo, dependencia]
Index: []

In [4]:
# verificar o tipo da variável: type()
type(df)

pandas.core.frame.DataFrame

In [5]:
# tamanho do dataframe: len()
len(df)

0

In [6]:
# incluir linha no dataframe
# 'matricula' : 'F1234567', 'nome' : 'AMANDA RAMOS COIADO', 'prefixo' : 9600, 'dependencia': 'DIOPE'
df = df.append({'matricula' : 'F1234567', 
                'nome' : 'AMANDA RAMOS COIADO', 
                'prefixo' : 9600, 
                'dependencia': 'DIOPE'}, 
               ignore_index=True)
df

  matricula                 nome prefixo dependencia
0  F1234567  AMANDA RAMOS COIADO    9600       DIOPE

In [7]:
#consultar o index: .index
df.index

RangeIndex(start=0, stop=1, step=1)

In [8]:
# excluir a coluna "dependencia": .drop(columns)
df.drop(columns='dependencia', inplace=True)
df

  matricula                 nome prefixo
0  F1234567  AMANDA RAMOS COIADO    9600

In [9]:
# criar uma lista com os dados a serem inseridos
# dados = [['F4567890', 'CAIO HENRIQUE', 9600], ['F5678901', 'JOYCE RABELLO', 4011],  ['F3456789', 'TANIA REGINA', 8559], ['F2345678', 'ROSA DE SAROM', 9600]]
dados = [['F4567890', 'CAIO HENRIQUE', 9600],
          ['F5678901', 'JOYCE RABELLO', 4011],
          ['F3456789', 'TANIA REGINA', 8559],
          ['F2345678', 'ROSA DE SAROM', 9600]]

In [10]:
# criar uma função para incluir os dados usando o método .append()
def incluir_funcis(dataframe, funcis):
    for funci in funcis:
        dataframe = dataframe.append({'matricula' : funci[0], 
                                      'nome' : funci[1], 
                                      'prefixo' : funci[2]}, 
                                     ignore_index=True)
    return dataframe

In [11]:
# criar outro dataframe chamado df2
# chamar a função para incluir linhas
# colunas = ['matricula', 'nome', 'prefixo']
colunas = ['matricula', 'nome', 'prefixo']
df2 = pd.DataFrame(columns=colunas)
df2 = incluir_funcis(df2, dados)
df2

  matricula           nome prefixo
0  F4567890  CAIO HENRIQUE    9600
1  F5678901  JOYCE RABELLO    4011
2  F3456789   TANIA REGINA    8559
3  F2345678  ROSA DE SAROM    9600

# Concatenar DataFrames

In [12]:
# visualizar df: .info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   matricula  1 non-null      object
 1   nome       1 non-null      object
 2   prefixo    1 non-null      object
dtypes: object(3)
memory usage: 80.0+ bytes

In [13]:
# visualizar df2: .info()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   matricula  4 non-null      object
 1   nome       4 non-null      object
 2   prefixo    4 non-null      object
dtypes: object(3)
memory usage: 116.0+ bytes

In [14]:
# concatenar os dois DataFrames: pd.concat()
df = pd.concat([df, df2])
df

  matricula                 nome prefixo
0  F1234567  AMANDA RAMOS COIADO    9600
0  F4567890        CAIO HENRIQUE    9600
1  F5678901        JOYCE RABELLO    4011
2  F3456789         TANIA REGINA    8559
3  F2345678        ROSA DE SAROM    9600

## Consultar índice e colunas

In [28]:
# consultar nomes das colunas: .columns
df.columns

Index(['matricula', 'nome', 'prefixo'], dtype='object')

In [29]:
# consultar índice. index
df.index

RangeIndex(start=0, stop=5, step=1)

In [30]:
# configurar uma coluna como índice: set_index()
df.set_index('matricula', inplace=True)
df

                          nome prefixo
matricula
F1234567   AMANDA RAMOS COIADO    9600
F4567890         CAIO HENRIQUE    9600
F5678901         JOYCE RABELLO    4011
F3456789          TANIA REGINA    8559
F2345678         ROSA DE SAROM    9600

In [31]:
# visualizar index novamente
df.index

Index(['F1234567', 'F4567890', 'F5678901', 'F3456789', 'F2345678'], dtype='object', name='matricula')

In [32]:
# consultar informações do dataframe após configuração
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, F1234567 to F2345678
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nome     5 non-null      object
 1   prefixo  5 non-null      object
dtypes: object(2)
memory usage: 60.0+ bytes

## Consultando e localizando dados

In [33]:
# persquisar um dado específico (F1234567) pelo índice
df.loc['F1234567']

nome       AMANDA RAMOS COIADO
prefixo                   9600
Name: F1234567, dtype: object

In [34]:
# persquisar um dado específico pelo índice, retornando apenas uma coluna
df.loc['F1234567', 'nome']

'AMANDA RAMOS COIADO'

In [35]:
# resetar o índice: .reset_index()
df.reset_index(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   matricula  5 non-null      object
 1   nome       5 non-null      object
 2   prefixo    5 non-null      object
dtypes: object(3)
memory usage: 128.0+ bytes

In [36]:
# consultar index
df.index
# note que se trata de um range!

RangeIndex(start=0, stop=5, step=1)

In [37]:
# o iloc pode ser utilizado para resgatar dados em uma determinada posição no dataframe:
# primeira linha
df.iloc[0]

matricula               F1234567
nome         AMANDA RAMOS COIADO
prefixo                     9600
Name: 0, dtype: object

In [38]:
# última linha
df.iloc[-1]

matricula         F2345678
nome         ROSA DE SAROM
prefixo               9600
Name: 4, dtype: object

In [39]:
# matrícula da primeira linha
df.iloc[0].loc['matricula']

'F1234567'

In [40]:
# fatiamentos
# primeiros 2 registros
df.iloc[0:2]

  matricula                 nome prefixo
0  F1234567  AMANDA RAMOS COIADO    9600
1  F4567890        CAIO HENRIQUE    9600

In [41]:
# todos os registros da última coluna
df.iloc[:,-1]

0    9600
1    9600
2    4011
3    8559
4    9600
Name: prefixo, dtype: object

In [42]:
# mesma consulta utilizando o nome da coluna
# df['prefixo']
df.prefixo

0    9600
1    9600
2    4011
3    8559
4    9600
Name: prefixo, dtype: object

In [43]:
# ordenar valores: .sort_values()
df.prefixo.sort_values()

2    4011
3    8559
0    9600
1    9600
4    9600
Name: prefixo, dtype: object

In [44]:
# consultar apenas valores únicos: .unique()
df.prefixo.unique()

array([9600, 4011, 8559], dtype=object)

In [45]:
# combinar funções
# ordenar +  filtrar valores únicos + transformar em uma lista usando .tolist()
df.prefixo.sort_values().unique().tolist()

[4011, 8559, 9600]

In [46]:
# diferença entre atribuir ou consultar dados
# consultar funcis do prefixo 9600
df.prefixo == 9600

0     True
1     True
2    False
3    False
4     True
Name: prefixo, dtype: bool

In [47]:
# trazer apenas os dados da consulta
df[df.prefixo == 9600]

  matricula                 nome prefixo
0  F1234567  AMANDA RAMOS COIADO    9600
1  F4567890        CAIO HENRIQUE    9600
4  F2345678        ROSA DE SAROM    9600

In [48]:
# retornar apenas a matrícula dos funcionários
df.matricula[df.prefixo == 9600]

0    F1234567
1    F4567890
4    F2345678
Name: matricula, dtype: object

In [49]:
# exemplo de consulta com mais de uma condição usando AND
df[(df.prefixo == 9600) & (df.nome == 'ROSA DE SAROM')]

  matricula           nome prefixo
4  F2345678  ROSA DE SAROM    9600

In [50]:
# exemplo de consulta com mais de uma condição usando OU
df[(df.prefixo == 9600) | (df.prefixo == 8559)]

  matricula                 nome prefixo
0  F1234567  AMANDA RAMOS COIADO    9600
1  F4567890        CAIO HENRIQUE    9600
3  F3456789         TANIA REGINA    8559
4  F2345678        ROSA DE SAROM    9600

In [51]:
# outra forma de chegar no mesmo resultado: .isin()
df[df.prefixo.isin([8559, 9600])]

  matricula                 nome prefixo
0  F1234567  AMANDA RAMOS COIADO    9600
1  F4567890        CAIO HENRIQUE    9600
3  F3456789         TANIA REGINA    8559
4  F2345678        ROSA DE SAROM    9600

In [53]:
# excluir determinado registro
# primeiro: obter o index desse registro
df[df.matricula == 'F1234567'].index[0]

0

In [54]:
# segundo: passar o index no método drop
df.drop(index=df[df.matricula == 'F1234567'].index[0])
# lembrando que a alteração só será efetuada no dataframe ao passar o parâmetro inplace=True

  matricula           nome prefixo
1  F4567890  CAIO HENRIQUE    9600
2  F5678901  JOYCE RABELLO    4011
3  F3456789   TANIA REGINA    8559
4  F2345678  ROSA DE SAROM    9600

In [55]:
# outra forma de fazer o mesmo procedimento é com o operador "~" (not)
df[~(df.matricula == 'F1234567')]

  matricula           nome prefixo
1  F4567890  CAIO HENRIQUE    9600
2  F5678901  JOYCE RABELLO    4011
3  F3456789   TANIA REGINA    8559
4  F2345678  ROSA DE SAROM    9600

## Exemplos de cálculos

In [56]:
# máximo valor: .max()
df.prefixo.max()

9600

In [57]:
# mínimo valor: .min()
df.prefixo.min()

4011

In [58]:
# soma: sum()
df.prefixo.sum()

41370

In [59]:
# média: mean()
df.prefixo.mean()

8274.0

## Copiar objeto

In [60]:
# atribuir o dataframe a outra variável para manter um "backup"
cad_fun = df
cad_fun

  matricula                 nome prefixo
0  F1234567  AMANDA RAMOS COIADO    9600
1  F4567890        CAIO HENRIQUE    9600
2  F5678901        JOYCE RABELLO    4011
3  F3456789         TANIA REGINA    8559
4  F2345678        ROSA DE SAROM    9600

In [61]:
# como teste, vamos informar o índex novamente
df.set_index('matricula', inplace=True)
df

                          nome prefixo
matricula
F1234567   AMANDA RAMOS COIADO    9600
F4567890         CAIO HENRIQUE    9600
F5678901         JOYCE RABELLO    4011
F3456789          TANIA REGINA    8559
F2345678         ROSA DE SAROM    9600

In [62]:
# ao visualizar a variável cad_fun, verificamos que a anotação foi espelhada no novo dataframe
# isso ocorre porque um objeto está vinculado a outro pelo sinal de "=", não foi criada uma cópia
cad_fun

                          nome prefixo
matricula
F1234567   AMANDA RAMOS COIADO    9600
F4567890         CAIO HENRIQUE    9600
F5678901         JOYCE RABELLO    4011
F3456789          TANIA REGINA    8559
F2345678         ROSA DE SAROM    9600

In [63]:
# vamos desfazer a transformação na variável original
df.reset_index('matricula', inplace=True)
df

  matricula                 nome prefixo
0  F1234567  AMANDA RAMOS COIADO    9600
1  F4567890        CAIO HENRIQUE    9600
2  F5678901        JOYCE RABELLO    4011
3  F3456789         TANIA REGINA    8559
4  F2345678        ROSA DE SAROM    9600

In [64]:
# ao copiar o datafram, vamos usar o método copy()
# dessa forma, os objetos ficam independentes
cad_fun = df.copy()

In [65]:
# renomear as colunas para o padrão de nomenclatura do Banco usando o método .rename
# {'matricula' : 'CD_MTC_FUN', 'nome' : 'NM_FUN', 'prefixo' : 'CD_PRF_DEPE'}
cad_fun.rename(columns={'matricula' : 'CD_MTC_FUN', 'nome' : 'NM_FUN', 'prefixo' : 'CD_PRF_DEPE'}, inplace=True)
cad_fun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CD_MTC_FUN   5 non-null      object
 1   NM_FUN       5 non-null      object
 2   CD_PRF_DEPE  5 non-null      object
dtypes: object(3)
memory usage: 128.0+ bytes

# Carregar tabelas .csv

## Documentação: [download](https://dsmidias.bb.com.br/ea_37_engenharia_metadados_live4)

## Tabela UOR

|Arquivo|Nome|Descrição|Referência|Fonte|
|---|---|---|---|---|
|uor.zip|UOR - Unidade Organizacional|Representa as Unidades Organizacionais (UOR) do conglomerado Banco do Brasil (no Brasil e Exterior) ou UOR externas que o BB tenha algum tipo de relacionamento ou interesse em identificá-las. Os dados foram anonimizados para utilização para fins didáticos.|2023|DB2UOR|



Cada prefixo (ou dependência) do Banco pode ser desmembrado em várias equipes e subequipes subordinadas umas às outras, as Unidades Organizacionais. 

Cada registro da tabela depe representa uma equipe, portanto existem vários registros de UOR para um mesmo prefixo.

Todos os funcionários estão vinculados a duas UOR, uma sendo a UOR principal do prefixo e outra a UOR de posição, representando a equipe à qual ele está vinculado. ([Humanograma](https://humanograma.intranet.bb.com.br/))

A UOR principal representa o prefixo como um todo. É a UOR de posição do cargo mais elevado dentro do prefixo (Gerente Geral, Diretor, etc.). Todas as outras UOR do prefixo estão vinculadas ou subordinadas a ela.

Ela é representada pelo código de subordinação zero.

In [ ]:
## exemplo de script de carregamento de dados a partir do servidor
## só é possível a execução a partir da Plataforma Analítica
## importar biblioteca para coneção mysql
#from sqlalchemy import create_engine

## criando função para carregamento dos dados
#def cosulta_mysql(str_con, query): #recebe uma string com os dados da conexão e outra com a query
    ## Conexão MySQL
    #engine_mysql = create_engine(str_con, echo=False)
    #conn_mysql = engine_mysql.connect()
    #df_query =  pd.read_sql(query, conn_mysql)
    #conn_mysql.close()
    #return (df_query) #retorna a tabela

## criando variável com a consulta sql
#query_depe = "SELECT * FROM embaixadores.vw_uor"

## criando variável com os dados da conexão com o servidor mysql
#str_con = "mysql+mysqlconnector://banco:banco1234@172.29.15.4:3306/embaixadores"

## chamando a função de consulta para popular um dataframe
#vw_uor = cosulta_mysql(str_con, query_depe)
#vw_uor.head()

In [ ]:
# ler o arquivo uor.zip e atribuir a uma variável: pd.read_csv()
uor = pd.read_csv('uor.zip', compression='zip', header=0)
uor.head()

,CD_UOR,CD_DEPE_UOR,NM_UOR_RDZ,SBDD,CD_MUN_UOR,CD_ITEM_AQTT_UOR
0,182be0c5cdcd5072bb1864cdee4d3d6e,c4ca4238a0b923820dcc509a6f75849b,f47fe7fe610eb702b074a9c3f33aa07c,0,77425,54
1,642e92efb79421734881b53e1e1b18b6,c4ca4238a0b923820dcc509a6f75849b,0c4993bdf6abf21abc7d098ccb81e2f5,91,77425,63
2,9a1158154dfa42caddbd0694a4e9bdc8,c81e728d9d4c2f636f067f89cc14862c,3c4de529cb162f35280f1179770c8b71,0,55100,54
3,68d30a9594728bc39aa24be94b319d21,c81e728d9d4c2f636f067f89cc14862c,e426d608029f0c3bc75e89707bd16c4b,91,55100,63
4,2a38a4a9316c49e5a833517c45d31070,eccbc87e4b5ce2fe28308fd9f2a7baf3,e8ec8e5c4562db903920e361d544c91e,0,13600,54

In [67]:
# verificar o tipo 
type(uor)

pandas.core.frame.DataFrame

In [68]:
# verificar tamanho
len(uor)

19989

In [69]:
# verificar nomes das colunas
list(uor.columns)

['CD_UOR',
 'CD_DEPE_UOR',
 'NM_UOR_RDZ',
 'SBDD',
 'CD_MUN_UOR',
 'CD_ITEM_AQTT_UOR']

In [70]:
uor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19989 entries, 0 to 19988
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_UOR            19989 non-null  object
 1   CD_DEPE_UOR       19989 non-null  object
 2   NM_UOR_RDZ        19989 non-null  object
 3   SBDD              19989 non-null  int64
 4   CD_MUN_UOR        19989 non-null  int64
 5   CD_ITEM_AQTT_UOR  19989 non-null  int64
dtypes: int64(3), object(3)
memory usage: 702.8+ KB

## Tabela item_aqtt_uor

|Arquivo|Nome|Descrição|Referência|Fonte|
|---|---|---|---|---|
|item_artt_uor.csv|Tabela de Itens de Arquitetura UOR|Representa os Itens de Arquitetura que existem em uma Instituição Organizacional para orientação da estrutura das Unidades Organizacionais (oriundo do sistema IOR).|2023|DB2UOR|

![image.png]()

In [72]:
# ler o arquivo item_aqtt_uor.csv e atribuir a uma variável
item_aqtt_uor = pd.read_csv('item_aqtt_uor.csv', header=0, sep=';')
item_aqtt_uor.head()

   CD_ITEM_AQTT_UOR                        NM_ITEM_AQTT_UOR
0                 2    DIRETORIA
1                 3    UNIDADE
2                 4    GERENCIA EXECUTIVA
3                 5    GERENCIA
4                 6    SEGMENTO EM UE

In [ ]:
# visualizar os tipos distintos de UOR: .unique()
item_aqtt_uor.NM_ITEM_AQTT_UOR.unique()

In [73]:
# unir os dois dataframes: .merge
uor = uor.merge(item_aqtt_uor, how='left', on='CD_ITEM_AQTT_UOR')
uor.head()

,CD_UOR,CD_DEPE_UOR,NM_UOR_RDZ,SBDD,CD_MUN_UOR,CD_ITEM_AQTT_UOR,NM_ITEM_AQTT_UOR
0,182be0c5cdcd5072bb1864cdee4d3d6e,c4ca4238a0b923820dcc509a6f75849b,f47fe7fe610eb702b074a9c3f33aa07c,0,77425,54,AGENCIA VAREJO
1,642e92efb79421734881b53e1e1b18b6,c4ca4238a0b923820dcc509a6f75849b,0c4993bdf6abf21abc7d098ccb81e2f5,91,77425,63,PAE
2,9a1158154dfa42caddbd0694a4e9bdc8,c81e728d9d4c2f636f067f89cc14862c,3c4de529cb162f35280f1179770c8b71,0,55100,54,AGENCIA VAREJO
3,68d30a9594728bc39aa24be94b319d21,c81e728d9d4c2f636f067f89cc14862c,e426d608029f0c3bc75e89707bd16c4b,91,55100,63,PAE
4,2a38a4a9316c49e5a833517c45d31070,eccbc87e4b5ce2fe28308fd9f2a7baf3,e8ec8e5c4562db903920e361d544c91e,0,13600,54,AGENCIA VAREJO
...,...,...,...,...,...,...,...
19984,bd36304e333f6bae7cf4d51bd47fb58e,36ae77db7915835abc105f631f0391f8,2ed7b4c4ed039621852b03f21fd5e172,44,79300,33,EQUIPE
19985,a4eb5298253106becc9ae5df3bc95487,36ae77db7915835abc105f631f0391f8,f84d66af5977967b9060a135e4cf70a0,51,72900,33,EQUIPE
19986,162cb1a3c60f5155d3dfc4c3ee939e54,36ae77db7915835abc105f631f0391f8,20d35db6c5f33721a4095942fc29ba16,52,75600,33,EQUIPE
19987,3b7459117e0a0729edb208699955a179,36ae77db7915835abc105f631f0391f8,1381e41f836cce003b623b9714b06a72,53,86900,33,EQUIPE
19988,119c900d76102b0522d7fa549f2825c0,36ae77db7915835abc105f631f0391f8,1279661125121154a57af63b6b64696f,63,2000,5,GERENCIA

In [74]:
# consultar novo dataframe
uor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19989 entries, 0 to 19988
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_UOR            19989 non-null  object
 1   CD_DEPE_UOR       19989 non-null  object
 2   NM_UOR_RDZ        19989 non-null  object
 3   SBDD              19989 non-null  int64
 4   CD_MUN_UOR        19989 non-null  int64
 5   CD_ITEM_AQTT_UOR  19989 non-null  int64
 6   NM_ITEM_AQTT_UOR  19989 non-null  object
dtypes: int64(3), object(4)
memory usage: 937.0+ KB

In [75]:
# visualizar valores únicos de CD_MUN_UOR
uor.CD_MUN_UOR.sort_values().unique()

array([ 2000,  3060,  3080, ..., 99856, 99920, 99999], dtype=int64)

In [77]:
# visualizar valores únicos de subordinada
uor.SBDD.sort_values().unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
      dtype=int64)

# Questões

## Pergunta 1: o Banco possui dependências em quantos municípios distintos?

In [79]:
# verificar valores únicos
resposta1 = len(uor.CD_MUN_UOR.sort_values().unique())
print(f'O BB possui dependências em {resposta1} municipios distintos.')

O BB possui dependências em 3119 municipios distintos.

## Pergunta 2: quantos prefixos distintos existem?

In [80]:
# calcular os valores únicos de CD_DEPE_UOR
resposta2 = len(uor.CD_DEPE_UOR.sort_values().unique())
print(f'O BB possui {resposta2} prefixos distintos.')

O BB possui 6113 prefixos distintos.

## Pergunta 3: quantas uor de equipe existem, em média, para cada prefixo?

In [85]:
# para responder a essa pergunta, primeiro vamos precisar agrupar os dados antes de fazer a contagem
resposta3 = uor[['CD_DEPE_UOR', 'CD_UOR']].groupby('CD_DEPE_UOR').count()
resposta3.head()

                                  CD_UOR
CD_DEPE_UOR
0007cda84fafdcf42f96c4f4adb7f8ce       1
000871c1fc726f0b52dc86a4eeb027de       2
001ab2fa029c064a45e41f8b2644a292       5
00411460f7c92d2124a67ea0f4cb5f85       2
0044deeec43ded19b952125079eb1781       1

In [86]:
# o resultado é um dataframe, com a coluna CD_DEPE_UOR como index
type(resposta3)

pandas.core.frame.DataFrame

In [87]:
# a coluna CD_UOR passou a representar agora a contagem de UOR distintas para cada prefixo
resposta3.rename(columns={'CD_UOR' : 'QT_CD_UOR'}, inplace=True)
resposta3.head()

                                  QT_CD_UOR
CD_DEPE_UOR
0007cda84fafdcf42f96c4f4adb7f8ce          1
000871c1fc726f0b52dc86a4eeb027de          2
001ab2fa029c064a45e41f8b2644a292          5
00411460f7c92d2124a67ea0f4cb5f85          2
0044deeec43ded19b952125079eb1781          1

In [92]:
# agora vamos calcular a média e transformar o resultado em um número inteiro
int(resposta3.QT_CD_UOR.mean())

3

In [93]:
# resposta
print(f'Existem, em média, {int(resposta3.QT_CD_UOR.mean())} UOR únicas por prefixo.')

Existem, em média, 3 UOR únicas por prefixo

## Pergunta 4: quantas UOR de agências existem no total?

In [96]:
# primeiro vamos visualizar valores únicos de tipo de dependência
uor.NM_ITEM_AQTT_UOR.sort_values().unique()

array(['  A CLASSIFICAR                       ',
       '  AGENCIA CORPORATE                   ',
       '  AGENCIA EMPRESA                     ',
       '  AGENCIA EMPRESARIAL                 ',
       '  AGENCIA ESTILO                      ',
       '  AGENCIA GOVERNO                     ',
       '  AGENCIA LARGE CORPORATE             ',
       '  AGENCIA PODER JUDICIARIO            ',
       '  AGENCIA SETOR PUBLICO               ',
       '  AGENCIA VAREJO                      ',
       '  AJURE                               ',
       '  AREA EM UA                          ',
       '  AREA EM UN                          ',
       '  ASSEMBLEIA GERAL ACIONISTAS         ',
       '  CAD BB                              ',
       '  CCBB                                ',
       '  CECAR                               ',
       '  CENOP                               ',
       '  CESIN                               ',
       '  COM ASSESSORAMENTO CA               ',
       '  COMEX                               ',
       '  COMITE ESTRATEGICO                  ',
       '  COMITE EXECUTIVO ESTRATEGICO        ',
       '  CONSELHO ADMINISTRACAO              ',
       '  CONSELHO FISCAL                     ',
       '  COORDENADORIA EM UE                 ',
       '  CRBB                                ',
       '  CSO                                 ',
       '  DIRETORIA                           ',
       '  EQUIPE                              ',
       '  ESCRITORIO ATEND ATACADO            ',
       '  ESCRITORIO COMEX                    ',
       '  ESCRITORIO MERCAP                   ',
       '  ESCRITORIO NEGOCIOS                 ',
       '  ESCRITORIO PRIVATE                  ',
       '  GCASH                               ',
       '  GECOI                               ',
       '  GECOR                               ',
       '  GEINV                               ',
       '  GENAC                               ',
       '  GENAP                               ',
       '  GEPES                               ',
       '  GERAC                               ',
       '  GERAG                               ',
       '  GEREC                               ',
       '  GERENCIA                            ',
       '  GERENCIA DE AUDITORIA               ',
       '  GERENCIA EXECUTIVA                  ',
       '  GERENCIA REGIONAL EMPRESARIAL       ',
       '  GESIN                               ',
       '  GPRED                               ',
       '  GRUPO EM UA                         ',
       '  LOJA BB                             ',
       '  MODULO EM UA                        ',
       '  MODULO NEGOCIOS ESPECIALIZADOS      ',
       '  NUCLEO EM UA                        ',
       '  NUCLEO EM UT                        ',
       '  NUJUR                               ',
       '  OUVIDORIA                           ',
       '  PAA                                 ',
       '  PAB                                 ',
       '  PAE                                 ',
       '  PAT                                 ',
       '  PLATAFORMA AGRO                     ',
       '  PLATAFORMA ALTA RENDA               ',
       '  PLATAFORMA CESUP CENOP              ',
       '  PLATAFORMA CORPORATE                ',
       '  PLATAFORMA EM UA                    ',
       '  PLATAFORMA EM UE                    ',
       '  PLATAFORMA EMPRESA                  ',
       '  PLATAFORMA EMPRESARIAL              ',
       '  PLATAFORMA ESCRITORIO DE NEGOCIOS   ',
       '  PLATAFORMA GOVERNO                  ',
       '  PLATAFORMA LARGE CORPORATE          ',
       '  PLATAFORMA NEGOCIOS ESPECIALIZADOS  ',
       '  PLATAFORMA PRIVATE                  ',
       '  PRESI                               ',
       '  PROJETO ESTRATEGICO                 ',
       '  PSO                                 ',
       '  PSV                                 ',
       '  SAC                                 ',
       '  SEGMENTO ADMINISTRATIVO EM UT       ',
       '  SEGMENTO MERCADO EM UT              ',
       '  SEGMENTO NEGOCIOS ESPECIALIZADOS    ',
       '  SETOR EM UA                         ',
       '  SOP                                 ',
       '  SUPER ATACADO                       ',
       '  SUPER COMERCIAL                     ',
       '  SUPER NEGOCIOS                      ',
       '  SUPER PRIVATE                       ',
       '  SUPERVISAO                          ',
       '  TELEMATICA                          ',
       '  UNIDADE                             ',
       '  UOR VIRTUAL                         ',
       '  VICE-PRESIDENCIA                    ', 'OUTRAS'], dtype=object)

In [97]:
# vamos filtrar apenas os tipos de dependência que contem 'AGENCIA'
resposta4 = uor[uor.NM_ITEM_AQTT_UOR.str.contains('AGENCIA')]
resposta4.head()

,CD_UOR,CD_DEPE_UOR,NM_UOR_RDZ,SBDD,CD_MUN_UOR,CD_ITEM_AQTT_UOR,NM_ITEM_AQTT_UOR
0,182be0c5cdcd5072bb1864cdee4d3d6e,c4ca4238a0b923820dcc509a6f75849b,f47fe7fe610eb702b074a9c3f33aa07c,0,77425,54,AGENCIA VAREJO
2,9a1158154dfa42caddbd0694a4e9bdc8,c81e728d9d4c2f636f067f89cc14862c,3c4de529cb162f35280f1179770c8b71,0,55100,54,AGENCIA VAREJO
4,2a38a4a9316c49e5a833517c45d31070,eccbc87e4b5ce2fe28308fd9f2a7baf3,e8ec8e5c4562db903920e361d544c91e,0,13600,54,AGENCIA VAREJO
6,38b3eff8baf56627478ec76a704e9b52,a87ff679a2f3e71d9181a67b7542122c,d9e7a9645a6dfe09628d35d37448380f,0,83100,54,AGENCIA VAREJO
8,5fd0b37cd7dbbb00f97ba6ce92bf5add,e4da3b7fbbce2345d7772b0674a318d5,99f0ee00d2f557528dd483fcbb8ce238,0,20675,54,AGENCIA VAREJO

In [98]:
# vamos verificar se os registros filtrados são mesmo apenas de agências
resposta4.NM_ITEM_AQTT_UOR.unique()

array(['  AGENCIA VAREJO                      ',
       '  AGENCIA SETOR PUBLICO               ',
       '  AGENCIA ESTILO                      ',
       '  AGENCIA EMPRESA                     ',
       '  AGENCIA CORPORATE                   ',
       '  AGENCIA EMPRESARIAL                 ',
       '  AGENCIA LARGE CORPORATE             ',
       '  AGENCIA GOVERNO                     ',
       '  AGENCIA PODER JUDICIARIO            '], dtype=object)

In [100]:
# resposta
print(f'Existem {len(resposta4)} UOR de agências.')

Existem 3790 UOR de agências.